

.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shear style , text primary color {mary}(r) #FD6E0A*/
.secondary-bg {
  background-color: #f0c5a6;
}
.text-primary{
        color: #FD6E0A;
}
.dark-2 {
  color: #474747;
}
.btn-primary {
  background-color: #FD6E0A;
  font-weight: bold;
  font-size: 20px;
  padding: 18px 35px;
  border-radius: 5px;
  /* display: flex; */
  /* justify-content: center; */
}

/* section */
.section-title {
font-size: 35px;
font-weight: bold;
color: #181818;
}
.section-description {
  font-size: 18px;
  color: #242222;
}

.text-center {
  text-align: center;
}
/* header */
.header {
  background-image: url(../developer.png), 
  url('../header_bg.png');
  background-position: top left, 
  bottom right;
  background-repeat: no-repeat;
  min-height: 500px;
}
/* .header{
  background-image: url(../developer.png), url('../header_bg.png');
 background-position: top left, bottom right;
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: top left, 
  bottom right;
} */

/* vabbar-style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-mary {
  width: 800px;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
  
}
nav li a {
  text-decoration: none;
  font-size: 20px;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}

/* bannaer styels */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content {
  max-width: 580px;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  font-weight: bold;
  font-size: 45px;
}
/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}
/* about section styles */
.about-items 
{
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  font-weight: bold;
}

.about{
  border-radius: 15px;
  padding: 130px 150px;
  text-align: center;
  
}
/* skills styles */
.skills-container{
display: flex;
gap: 25px;
/* padding: 30px; */
}
.skills{
  padding: 35px;
  box-shadow: 0px 6px 50px 0px rgb(202, 193, 193);
}
/* resume section styles */
.section-title 
{
  text-align: center;
  padding: 35px;
}
.h3,.resume-column-title {
  font-weight: bold;
}
.resume-container {
  display: flex;
  gap: 16px;
}
.experience-sub-title {
  font-size: 15px;
  font-weight: 600px;
  margin-bottom: 20px;
}

.experience-description, .experience-sub-title {
  color: #757575;
}
.Download{
 align-items: center;
 display: block;
 margin-left: 40%;
 margin-right: 40%;
}
.btn-primary {
  display: flex;
  
  position: relative;
    font-size: 20px;
  padding: 18px 35px;
  border-radius: 5px;
  width: 100%;
  width: auto;
}
/* footer styles */
.section-title {
  font-size: 20px;
}
footer {
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}
.footer-column {
  width: 50%;
 
}
footer input[type="text"], footer input[type="email"], footer textarea {
  height: 10px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 20px;
  border: none;
}